<h1>{{title1}}</h1>
<h2>My Books</h2>

<ul class="books">
  <li *ngFor="let book of books">
    <span class="badge">{{book.id}}</span> {{book.name}}
  </li>
</ul>

<button (click)="addbook=true"> Add Book</button>&nbsp;
<button (click)="updatebook=true">Update Book</button>&nbsp;
<button (click)="deletebook=true">Delete Book</button>
<br>
<br/>
<div *ngIf="addbook">
  <table>
    <tr>
      <td>Enter Id of the book:</td>
      <td>
        <input type="number" #id>
      </td>
    </tr>
    <br/>

    <tr>
      <td>Enter Name of the Book:</td>
      <td>
        <input type="text" #name>
        <br>
      </td>
    </tr>
    <br>

    <tr>
      <td>
        <button (click)="addBook(id.value,name.value);addbook=false">Add Record</button>
      </td>
    </tr>

  </table>

  <br/>
</div>

<div *ngIf="updatebook">

  <table>
    <tr>
      <td>Enter Id of the book:</td>
      <td>
        <input type="number" #id>
      </td>
    </tr>
    <br/>

    <tr>
      <td>Enter Name of the Book:</td>
      <td>
        <input type="text" #name>
        <br>
      </td>
    </tr>
    <br>

    <tr>
      <td>
        <button (click)="updateBook(id.value,name.value);updatebook=false">Update Record</button>
      </td>
    </tr>

  </table>
</div>
<br>

<div *ngIf="deletebook">

  <table>
    <tr>
      <td>Enter Id of the book:</td>
      <td>
        <input type="number" #id>
      </td>
    </tr>
    <br/>



    <tr>
      <td>
        <button (click)="deleteBook(id.value);deletebook=false">Delete Record</button>
      </td>
    </tr>

  </table>
</div>


<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>